

snippet xlg "console.log (tslint ignore)"
	console.log(${0}); // tslint:disable-line


snippet xcl "class"
	export class ${1:ClassName} {

		//////////////////////////////////////////////////////////////////////////////
		// CONSTRUCTOR
		constructor($2) {

		} // constructor

		//////////////////////////////////////////////////////////////////////////////
		// PRIVATE

		//////////////////////////////////////////////////////////////////////////////
		// GETTER/SETTER

		//////////////////////////////////////////////////////////////////////////////
		// PUBLIC

	} // ${0:$1}

